<html>
   <head>
        <title>Ứng dụng tìm từ cùng vần</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href = "{{ url_for('static', filename = 'main.css') }}" />
        <script type = "text/javascript" src = "{{ url_for('static', filename = 'hello.js') }}" ></script>
   </head>
   
   <body>
        <h1>Ứng dụng tìm từ cùng vần trong Truyện Kiều</h1>
 
        <form action = "find_rhymable_words" method = "POST">
            <p>Điền từ cần tìm: <input type = "text" name = "myword" }}/></p>
            <p>Số lượng từ muốn trả về: <input type = "number" name = "mylimit" }} /></p>
            <p><input type = "submit" value = "Submit" /></p>
        </form>
</html>