<html>
   <head>
        <title>Algebra</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href = "{{ url_for('static', filename = 'main.css') }}" />
        <script type = "text/javascript" src = "{{ url_for('static', filename = 'ChooseOperation.js') }}" ></script>
   </head>
   
   <body>
        <h1>Bigraded modules and actions</h1>

        <form action = "do_operation" method = "POST">
            <h2>Please describe your bigraded algebra</h2>
            <p>All the generators (each of which is a single letter). E.g: x, y, z
                <input type = "text" name = "alg_generators"  />
            </p>
            <p>Their bidegree. E.g: (1, 2), (2, 1), (0, 3)
                <input type = "text" name = "alg_bidegrees" />
            </p>
            
            <p>The relations (we only deal with relations of kind x^m*y^n*z^p... = 0). E.g: x^3=0,x*y^4=0
                <input type = "text" name = "alg_relations"  />
            </p>


            <h2>Please select the operation</h2>
            <select style="width: 100%; background-color:powderblue;" id="OperationToChoose" name="chosen_operation" onchange="ChooseOperation();">
                <option id='selection_simplification'>Simplification</option>
                <option id='selection_addition'>Addition</option>
                <option id='selection_substraction'>Substraction</option>
                <option id='selection_multiplication'>Multiplication</option>
                <option id='selection_bidegree_calculation'>Bidegree Calculation</option>
            </select>
            
            <br/>
            <h2>Please fill the input</h2>
            <p id='input_simplification' style="display: block">Input for simplification
                <br/>
                Elements
                <input type = "text" name = "simplification_element_1"  />
            </p>

            <p id='input_addition' style="display: none">Input for addition
                <br/>
                Elements
                <input type = "text" name = "addition_element_1"  /> 
                <input type = "text" name = "addition_element_2"  />
            </p>
                
            <p id='input_substraction' style="display: none">Input for substraction
                <br/>
                Elements
                <input type = "text" name = "substraction_element_1"  /> 
                <input type = "text" name = "substraction_element_2"  />
            </p>

            <p id='input_multiplication' style="display: none">Input for multiplication
                <br/>
                Elements
                <input type = "text" name = "multiplication_element_1"  /> 
                <input type = "text" name = "multiplication_element_2"  />
            </p>

            <p id='input_bidegree_calculation' style="display: none">Input for bidegree calculation
                <br/>
                Elements
                <input type = "text" name = "bidegree_calculation_element_1"  />
            </p>

            <p><input type = "submit" value = "Submit. It may take time." /></p>

        </form>
    </body>
</html>