<html>
    <head>
        <title>Bigraded modules and actions</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href = "{{ url_for('static', filename = 'main.css') }}" />
    </head>
   
    <body>
    <h1>Bigraded modules and actions</h1>
 
        <form action = "http://localhost:8801/describe_module" method = "POST">
            <h2>Please describe your bigraded algebra</h2>
            <p>All the generators (each of which is a single letter). E.g: x, y, z
                <input type = "text" name = "alg_generators" value = "{{ result[0]['alg_generators'] }}" />
            </p>
            <p>Their bidegree. E.g: (1, 2), (2, 1), (0, 3)
                <input type = "text" name = "alg_bidegrees" value = "{{ result[0]['alg_bidegrees'] }}"/>
            </p>
            
            <p>The relations (we only deal with relations of kind x^m*y^n*z = 0). E.g: x^3=0,x*y^4=0
                <input type = "text" name = "alg_relations" value = "{{ result[0]['alg_relations'] }}" />
            </p>
            
            <h2>Please describe your bigraded module</h2>
            <p>All the generators. E.g: a, b, c, d 
                <input type = "text" name = "mod_generators" value = "{{ result[0]['mod_generators'] }}"/>
            </p>
            
            <p>Their bidegree. E.g: (0, 0), (2, 0), (0, 2), (1, 1)
                <input type = "text" name = "mod_bidegrees"  value = "{{ result[0]['mod_bidegrees'] }}"/>
            </p>

            <h2>Describe the multiplicative actions</h2>
            <p>All the actions. E.g: x, x*y, y^2 
                <input type = "text" name = "actions" value = "{{ result[0]['actions'] }}"/></p>

            <h2>Limit your bidegree</h2>
            <p>For the first coordinate (m) <input type = "number" name = "limit_x"  value = "{{ result[0]['limit_x'] }}"/></p>
            <p>For the second coordinate (n) <input type = "number" name = "limit_y"  value = "{{ result[0]['limit_y'] }}"/></p>
            <p><input type = "submit" value = "Submit. It may take time." /></p>
        </form>

        <p>
        {% for s in result[1] %}
        {{ s }}
        <br/>
        {% endfor %}
        </p>

        <h4>Realized by Ri Duan for the project "Abstract Algebra" and for flask training, to support PhD student V.C PHAM in his thesis.</h4>
   </body>
   
</html>